@font-face 
{
	font-family: 'MrsSaintDelafieldregular';
	src: url('../fonts/MrsSaintDelafield-Regular.ttf');
}

@font-face 
{
	font-family: 'Kurale-Regular';
	src: url('../fonts/Kurale-Regular.ttf');
}

@font-face 
{
	font-family: 'CormorantUpright-Regular';
	src: url('../fonts/CormorantUpright-Medium.ttf');
}

body {
    margin: 0px;
    min-height: 100vh;
    font-family: 'CormorantUpright-Regular', arial, sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0 0 70px 0;
}

h2 {
    color: #707070;
    font-size: 2.5em;
    text-align: center;
}

.author p, .presentation p, #singleChapterExtract p, .singleChapterContent p, .comment p, .empty {
    font-size: 1.2em;
}

#textWhite {
    color: white;
}

.title {
    font-family: 'MrsSaintDelafieldregular', arial, sans-serif;
    font-size: 2.8em;
    color: #707070;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #616161;
    font-family: 'Kurale-Regular', arial, sans-serif;
}



.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.43);
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}

#pageContent {
    position: relative;
    top: 80px;
    min-height: calc(100vh - 150px);
}

.hidenMenuTab {
    display: none; 
    position: absolute; 
    left: 110px;
    border-radius: 3px;
    top: 0px;
    /*background-color: #DDC3AC;*/
    background-color: #ddc3ac;
    width: 120px;
}


.hidenMenuTab a{
    margin: 10px;
}

.hidenMenuTab a:hover {
    color: #30536F;
}

#hidenMenu {
    list-style-type: none; 
    position: relative
}

#hidenMenu:hover .hidenMenuTab{
    display: block;   
}

.menuTab {
    padding: 10px;
    margin: 10px;
    width: 100px;
    background-color: #ddc3accf;
    text-align: center;
    height: 18px;
    border-radius: 4px;
}

.menuTab a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
     /*60px 30px 10px 30px; TODO effacer*/
    color: #615b5b;
    
}

.logo p{
    margin: 0px;
    font-family: 'MrsSaintDelafieldregular', arial, sans-serif; 
}

.subMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subMenuTab {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    min-width: 100px;
    background-color: #30536F;
    margin-bottom: 30px;
}

.subMenuTab a {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sessionMessage {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 500px;
    margin-top: 70px;
    background-color: #30536F;
    color: white;
    font-family: 'Kurale-Regular', arial, sans-serif;
}

/*page home*/

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
    margin: auto;
    text-align: justify;
    margin-bottom: 80px;
}

#textPresentation {
    opacity: 0;
}

.lastChapterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
    max-width: 1000px;
}

/*.lastChapter {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #30536F; 
}*/

.chapterContent {
    padding: 10px;
}

/*.lastChapterLinkTest{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DDC3AC; 
}*/

.sectionThree{ 
    /*position: absolute;*/
    margin-top: 200px;
}

.allChaptersContainer, .authorContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whiteBlock {
    background-color: white;
    height: 180px;
    width: 250px;
    position: relative;
    left: -55px;
    z-index: 1;
}

.whiteBlock h3{
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-size: 1.3em;
}

.whiteBlock:hover h3 {
    color: #30536F;
    border-left: 2px #30536F solid;
}

.allChaptersLink, .authorLink{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blueBlockChapter, .blueBlockAuthor  {
    height: 300px;
    width: 600px;
    background-color: #30536F;
    position: relative;
    right: 100px;
    z-index: 0;
    opacity: 0;
}

.imageHomeChapter, .imageHomeAuthor {
    height: 250px;
    width: 250px;
    position: relative;
    left: 300px;
    bottom: 28px;
    z-index: 3;
}

/*page all_chapters*/

.chapterContainer{
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chapterDescription{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    height: 400px;
    width: 500px;
    border: 1px solid #707070;
}

.chapterLinkBlue, .chapterLinkBrown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    border: 1px solid #707070;
}

.chapterLinkBlue {
    background-color: #30536F;
}

.chapterLinkBrown {
    background-color: #DDC3AC;
}

/*part single*/


.singleChapter, .addCommentContainer, .allComments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.singleChapter{
    border: 2px solid #30536F;
    max-width: 1100px;
    width: 80%;
    padding: 20px;
    background-color: #ecf1f5;
    text-align: center;
}

.singleChapter h2, .singleChapterDetails {
    color: #30536F;
}

.singleChapter h2:first-of-type {
    font-size: 3em;
}

.singleChapterDetails {
    font-weight: 700;
    text-align: center;
}

.singleChapterContent {
    display: none;
    overflow: scroll;
    max-height: 70vh;
    text-align: justify;
    padding: 15px;
}

#singleChapterExtract {
    text-align: justify;
    padding: 15px;
}

#chapterButton {
    background-color: #30536F;
    border-style: none;
    border-radius: 5px;    
    color: white;
    padding: 8px;
    margin: 20px;
}


#chapterButton i {
    padding-left: 10px;
}

#chapterButton:hover, #chapterButton:hover i{
    background-color: #DDC3AC;
    color:#30536F;
    cursor: pointer;
}

.addComment, .singleComment, .addCommentContainer, .allComments, .singleChapter {
    margin-top: 20px;
}

.addComment {
    background-color: #30536F;
    width: 80%;
    display: flex;
}

.singleComment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

.comment {
    width: 65%;
    background-color: #DDC3AC;
    border: 2px #30536f solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.flagCommentContainer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.flagComment, .actions a{
    border: 2px solid #30536F;
    background-color: #ecf1f5;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
    border-radius: 10px;
}

.flagComment p {
    font-size: 1em;
    margin: 12px;
}

.actions a {
    padding: 5px;
    background-color: #DDC3AC;
    color: black;
}

.actions a:hover, .flagComment:hover {
    background-color: #30536F;
    color: white;
}

.flagComment:hover a{
    color: white;
}

/*part form*/

.register, .login, .password {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 600px;
}

.formContainer, .formContainerComment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.formContainer form, .formContainerComment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color:#30536F;
    width: 80%;
}

.formContainerComment form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#password, #pseudo {
    height: 30px;
    width: 200px;
}

.formTextarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.formChapter {
    width: 1000px;
}

label {
    color: white;
    font-size: 1.1em;
}

#submit {
    background-color: #DDC3AC;
    border: 2px solid #DDC3AC;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

.checkbox label {
    padding-left: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
}

#submit:hover {
    background-color: #e8f0fe;
}

 .routeChapter, .routeAdministration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.alreadyMember, .routeProfile, .notMember {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.alreadyMember a, .notMember a,  .routeProfile a, .routeChapter a, .routeAdministration a{
    border: 2px solid #30536F;
    padding: 8px;
    background-color: #DDC3AC;
    border-radius: 10px;
    color: black;
}

.alreadyMember a:hover, .notMember a:hover, .routeProfile a:hover, .routeChapter a:hover, .routeAdministration a:hover{
    background-color: #30536F;
    color: white;
}

.alreadyMember a, .notMember a {
    display: flex;
    align-items: center;
}

/*page password*/

.passwordChange {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.passwordChange p {
    font-size: 1.1em;
    text-align: center;
}

/*page profile */

.profilePseudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


/*pages administration */

.administrationUser, .administrationComments, .administrationChapter, .administrationAuthor, .administrationPresentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}
.administrationUser {
    margin: auto;
}

.tableHead{
    background-color: #30536F;
    color: white;
}

.tableHead td{
    padding: 20px;
    font-size: 1.2em;
}

.tableBody {
    background-color: #F0F0F0;
}

.tableBody td {
    color: #616161;
}

table {
    border-spacing: 0px;
    border: 1px solid #30536F;
    margin-bottom: 50px;
}

table td {
    border: 1px solid #30536F;
    padding: 8px;
    max-width: 380px;
    font-family: 'Kurale-Regular', arial, sans-serif;
}

.tableActions {
    background-color: #DDC3AC;
    font-weight: 800;
}

.tableActions a {
    display: flex;
    align-items: center;
    padding: 0px 3px 0px 3px;
}

.tableActions a:hover{
    color:  #30536F;
    padding: 0px;
}

/*pages author */
.author {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: justify;
    border: 2px solid #30536F;
    padding: 20px;
}

/*pages error */
.error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid #30536F;
    background-color: #DDC3AC;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.formError {
    color: #ff5f5f;
    font-size: 1.1em;
}

.formError p {
    margin-top: 0px;
}

/*part footer*/

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.footer {
    height: 100px;
    background-color: #ddc3ac;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*media queries*/

@media screen and (max-width: 1134px)
{
    .sectionThree {
        margin-top: 0px;
    }

    .lastChapterContainer {
        margin-bottom: 0px;
    }

	.whiteBlock {
        background-color: white;
        position: static;
        z-index: 0;
        height: 80px;
    }

    .blueBlockChapter, .blueBlockAuthor {
        height: 300px;
        width: 300px;
        position: static;
        margin-right: 30px;
    }

    .imageHomeChapter, .imageHomeAuthor {
        left: 55px !important;
        bottom: 15px !important;
    }

    .presentation {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .chapterLinkBlue, .chapterLinkBrown, .chapterDescription {
        width: 400px;
    }

    .chapterExtract, .commentDetails {
        display: none;
    }

    .sidebar a {
    margin: 50px 0px 0px 5px !important;
    }
}

@media screen and (max-width: 900px)
{
    .sidebar {
        display: none;
    }

    .administration_content {
        width: 100% !important;
        justify-content: center;
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 856px)
{
    .hidenMenuTab {
            left: 0px;
            top: 30px;
    }
}

@media screen and (max-width: 687px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 670px)
{
    table td {
        padding: 3px;
        max-width: 200px;
    }

    .tableHead td {
        padding: 3px; 
    }
}

@media screen and (max-width: 500px)
{
    .chapterDetails, .userDetails {
        display: none;
    }

    h1 {
        font-size: 1.1em;
    }

    .title {
        margin-top: 50px;
    }
}

@media all and (max-device-width: 687px) {
    .logo {
        display: none;
    }
    .menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}