@font-face 
{
	font-family: 'MrsSaintDelafieldregular';
	src: url('../fonts/MrsSaintDelafield-Regular.ttf');
}

h1 {
    margin: 40px;
}

h2 {
    color: #707070;
    font-size: 2em;
}

#textWhite {
    color: white;
}

.title {
    font-family: 'MrsSaintDelafieldregular', arial, sans-serif;
    font-size: 2.8em;
    color: #707070;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #707070;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F0F0F0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F0F0F0;
    flex-direction: column;
}

.hidenMenuTab {
    display: none; 
    position: absolute; 
    left: 120px; 
    top: 0px;
    background-color: #DDC3AC;
    width: 120px;
}


.hidenMenuTab a{
    margin: 10px;
}

.hidenMenuTab a:hover {
color: #30536F;
}

#hidenMenu {
    list-style-type: none; 
    position: relative
}

#hidenMenu:hover .hidenMenuTab{
    display: block;   
}

.menuTab {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    width: 100px;
    background-color: #DDC3AC;
    text-align: center;
    height: 18px;
}

.menuTab a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
     /*60px 30px 10px 30px; TODO effacer*/
    color: #707070;
    font-family: 'MrsSaintDelafieldregular', arial, sans-serif;
}

.subMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subMenuTab {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    min-width: 100px;
    background-color: #30536F;
    margin-bottom: 30px;
}

.subMenuTab a {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sessionMessage {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 500px;
    margin-top: 10px;
    background-color: #30536F;
    color: white;
}

/*page home*/

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    margin-bottom: 80px;
}

.lastChapterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
}

.lastChapter {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F0F0F0;
}

.chapterContent {
    padding: 10px;
}

.lastChapterLink{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DDC3AC; 
}

.sectionThree{ 
    position: absolue;
}

.allChaptersContainer, .authorContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whiteBlock {
    background-color: white;
    height: 180px;
    width: 250px;
    position: relative;
    left: 45px;
    z-index: 1;
}

.allChaptersLink, .authorLink{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blueBlock {
    height: 300px;
    width: 600px;
    background-color: #30536F;
    position: relative;
    right: 105px;
    z-index: 0;  
}

.imageHome {
    height: 250px;
    width: 250px;
    position: relative;
    left: 200px;
    bottom: 28px;
    z-index: 3;
}

/*page all_chapters*/

.chapterContainer{
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chapterDescription{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    height: 400px;
    width: 500px;
    border: 1px solid #707070;
}

.chapterLinkBlue, .chapterLinkBrown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    border: 1px solid #707070;
}

.chapterLinkBlue {
    background-color: #30536F;
}

.chapterLinkBrown {
    background-color: #DDC3AC;
}

/*part single*/


.singleChapter, .addCommentContainer, .allComments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.singleChapter {
    border: 2px solid #30536F;
    max-width: 1100px;
    width: 80%;
    padding: 20px;
    background-color: #F0F0F0;
}

.addComment, .singleComment, .addCommentContainer, .allComments, .singleChapter {
    margin-top: 20px;
}

.addComment {
    background-color: #30536F;
}

.singleComment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 900px;
    margin: 20px;
}

.comment {
    width: 70%;
    background-color: #DDC3AC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flagCommentContainer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.flagComment, .actions a{
    border: 2px solid #30536F;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
}

.actions a {
    padding: 5px;
    background-color: #DDC3AC;
    color: black;
}

.actions a:hover, .flagComment:hover {
    background-color: #30536F;
    color: white;
}

/*part form*/

.register, .login, .password {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 600px;
}

.formContainer, .formContainerComment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.formContainer form, .formContainerComment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color:#30536F;
    width: 80%;
}

.addComment
{
    width: 80%;
}

#password, #pseudo {
    height: 30px;
    width: 200px;
}

.formTextarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.formChapter {
    width: 1000px;
}

label {
    color: white;
    font-size: 1.1em;
}

#submit, #draft {
    background-color: #DDC3AC;
    border: 2px solid #DDC3AC;
    padding: 5px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

.alreadyMember, .notMember, .routeProfile, .routeChapter, .routeAdministration {
    display: flex;
    margin: auto;
}

.alreadyMember a, .notMember a,  .routeProfile a, .routeChapter a, .routeAdministration a{
    border: 2px solid #30536F;
    padding: 8px;
    background-color: #DDC3AC;
    color: black;
}

.alreadyMember a:hover, .notMember a:hover, .routeProfile a:hover, .routeChapter a:hover, .routeAdministration a:hover{
    background-color: #30536F;
    color: white;
}

.routeChapter, .routeAdministration {
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

/*page password*/

.passwordChange {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.passwordChange p {
    font-size: 1.1em;
}

/*page profile */

.profilePseudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


/*pages administration */

.administrationUser, .administrationComments, .administrationChapter, .administrationAuthor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.addChapter, .modifyAuthor {
    padding: 10px;
    margin: 40px 0px 50px 0px;
    width: 120px;
    background-color: #30536F;
}

.addChapter a, .modifyAuthor a {
    color: white;
}

.addChapter:hover, .tableHead {
    background-color: #DDC3AC;
}

.tableHead td{
    padding: 20px;
    font-size: 1.2em;
}

.tableBody {
    background-color: #F0F0F0;
}

table {
    border-spacing: 0px;
    border: 1px solid #30536F;
    margin-bottom: 50px;
}

table td {
    border: 1px solid #30536F;
    padding: 8px;
    max-width: 350px;
}

.tableActions {
    background-color: #DDC3AC;
    font-weight: 800;
}

.tableActions a {
    vertical-align: 40%;
}

.tableActions a:hover{
    color:  #30536F;
}

/*pages author */
.author {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: justify;
    border: 2px solid #30536F;
    padding: 20px;
}

/*pages error */
.error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid #30536F;
    background-color: #DDC3AC;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.formError {
    color: #ff5f5f;
    font-size: 1.1em;
}

.formError p {
    margin-top: 0px;
}

/*part footer*/

footer {
    height: 100px;
    margin-top: 100px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*media queries*/

@media screen and (max-width: 1134px)
{
	.whiteBlock {
        background-color: white;
        position: static;
        z-index: 1;
        height: 80px;
    }

    .blueBlock {
        height: 300px;
        width: 300px;
        position: static;
    }

    .image {
        left: 100px;
        position: static;
    }

    .lastChapterContainer {
        margin-bottom: 0px;
    }

    .logo {
        font-size: 1.5em;
    }

    h1 {
        margin: 0px;
    }

    .title{
        font-size: 1.8em;
    }

    .subMenuTab {
        margin-bottom: 10px;
    }

    .presentation {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .chapterLinkBlue, .chapterLinkBrown, .chapterDescription {
        width: 400px;
    }

    .chapterExtract {
        display: none;
    }
}

@media screen and (max-width: 856px)
{
    .hidenMenuTab {
            left: 0px;
            top: 30px;
    }
}

@media screen and (max-width: 670px)
{
    table td {
        padding: 3px;
        max-width: 200px;
    }

    .tableHead td {
        padding: 3px; 
    }
}

@media screen and (max-width: 500px)
{
    .chapterDetails {
        display: none;
    }

}