/* Tiles */

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*position: relative;*/
    justify-content: center;
    /*margin: -2.5em 0 0 -2.5em;*/
}

    .tiles article {
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        /*width: calc(33.33333% - 2.5em);*/
        width: 380px;
        /*margin: 2.5em 0 0 2.5em;*/
        margin: 20px;
    }

    .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        /*position: relative;*/
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    .image img {
        display: block;
        width: 100%;
    }

    .image:before {
        pointer-events: none;
        -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
        -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
        -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
        transition: background-color 0.5s ease, opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        /*top: 0;
        left: 0;*/
        width: 100%;
        height: 100%;
        /*opacity: 1.0;*/
        z-index: 1;
        opacity: 0.8;
    }

    .image:after {
        pointer-events: none;
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        /*left: 0;*/
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.25;
        z-index: 2;
    }

    .style1 a {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*padding: 1em;*/
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
    }

        /*.style1 a :last-child {
                margin: 0;
            }*/

    .style1 a:hover {
        color: #ffffff !important;
    }

    .style1 a h2 {
        margin: 0;
    }

    .style1 a .content {
        -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
        -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
        -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        width: 100%;
        max-height: 0;
        line-height: 1.5;
        margin-top: 0.35em;
        opacity: 0;
    }

    /*.style1 a .content > :last-child {
            margin-bottom: 0;
        }*/

    .image:before {
        background-color: #707070;
    }


    article:hover .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    article:hover > .image:before {
        background-color: #333333;
        opacity: 0.35;
    }

    article:hover > .image:after {
        opacity: 0;
    }

    article:hover .content {
        max-height: 250px;
        opacity: 1;
    }

   /* * + .tiles {
        margin-top: 2em;
    }*/

    /*body.is-preload .tiles article {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
    }*/

    /*body.is-touch .tiles article .content {
        max-height: 15em;
        opacity: 1;
    }*/

    .menuTab:hover, .subMenuTab:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.1s; 
    }
       

    .menuTab:hover {
        background-color: #DDC3AC;
    }
    

    .subMenuTab {
        position: relative;
        border-radius: 3px;
    }

    .subMenuTab::before, .lastChapterLinkTest p::before {
        position: absolute;
        top: 0;
        left: -22%;
        z-index: 2;
        display: block;
        content: '';
        width: 20%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
    }
    .subMenuTab:hover::before, .lastChapterLinkTest p:hover::before {
        -webkit-animation: shine .75s;
        animation: shine .75s;
    }
    @-webkit-keyframes shine {
        100% {
            left: 95%;
        }
    }
    @keyframes shine {
        100% {
            left: 95%;
        }
    }




header {
    /*background-image: linear-gradient(to right, #fbefe5 0%, #ccb39d 50%, #fbefe5 100%);*/
    background-image: url("../img/feather.jpg");

    /*background-image: linear-gradient(to right, #2980b9 0%, #2c3e50 100%);
    background-image: url("../img/test2.jpg");*/
}

.chapterTitle {
    color: white;
}

.administration {
    display: flex;
}

.sidebar {
    width: 18%;
    /*background-color:#707070;*/
    background-image: linear-gradient(125deg, #f0f0f0  30%, #f0f0f0 80%, #30536F 80%);
    position: fixed;
    top: 100px;
    height: 100%;
    border-right: 5px #30536F solid;
}

.sidebar a {
    color: #707070;
    font-size: 1.13em;
    font-weight: 900;
    margin: 50px 0px 0px 15px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#show {
    opacity: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.administration_content {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin-left: 20%;

}

.tableBody:hover {
    background-color: #9eacb7;

}


  .test {
      position: absolute;
  }



  .text {
    /*position: fixed;
    top: 50%;
    left: 50%;
    border-bottom: 0;*/
    
    position: relative;
  
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
  }
  
  
  .fas {
      padding-left: 15px;
  }

  .tableActions a:hover .fas, #show a:hover .fas, .whiteBlock:hover .fas{
    font-size: 1.5em;
  }

  .text li {
    /*display: inline-block;*/
    float: left;
    /*font-weight: 700;
    font-size: 2em;
    max-width: 2em;*/
    opacity: 1;
    transition: all 2s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    
  }
  .text.hidden li.spaced {
    padding-left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
  }
  .text li.spaced {
    padding-left: 0.5em;
  }
  
  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
  }

  

  .bookContainer {
    z-index: 1;
    perspective:3000px;
  }
  
  .bookContainer .book {
   /*position: relative;
    display: block;*/
    width: 230px;
    height: 300px;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    color: #1e3140;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
  }
  
 .lastChapterContainer:hover .book {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
  }
  
  .bookContainer .book > div,
  .bookContainer .front > div {
    /*display: block;*/
    position: absolute;
  }
  
  
  .bookContainer .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
  }
  
  .bookContainer .front > div {
    width: 230px;
    height: 300px;
  }
  
  .bookContainer .left-side{
    width: 40px;
    left: -20px;
    height: 300px;
    background-color: #DDC3AC;
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
  }
  
  .cover svg{
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -110px;
    width: 300px;
  }
  
  
  .cover .num-up{
    position: absolute;
    top: 64px;
    left: 47px;
    letter-spacing: 50px;
    transform: rotate(-90deg);
  }
  
  .cover .num-down{
    position: relative;
    top: 65px;
    left: -95px;
    transform: rotate(-90deg);
  }
  
  .bookAuthor{
    
    font-weight: 400;
    position: absolute;
   
    left: 50px;
    opacity: .8;
    }
  
  .bookContainer .front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: 
      inset 4px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bookContainer .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
  }
  
  .bookContainer .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0,0,0,0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }
  
  
  .bookContainer h2 {
    width: 280px;
    height: 40px;
    color: #1e3140;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }
  
  .cover {
   background: linear-gradient(45deg,  #967a60 0%, #e8d9cc 100%);
  }
  
  
  .left-side h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px;
  }
  
  .left-side h2 span:last-child{
    font-family: acumin-pro, sans-serif;
  } 

  .lastChapterTest {
    margin: 50px 20px 20px 20px;
  }

  .lastChapterLinkTest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .lastChapterLinkTest p {
    padding: 15px;
    background-color: #30536F;
    position: absolute;
    border-radius: 5px;
  }

  .lastChapterTitle {
    font-size: 1.7em;
    text-decoration: underline;
  }

  .bottomDate {
    position: absolute;
    bottom: 0px;
    right: 7px;
    font-size: 1em;
}

  .addChapter {
    margin: 20px 0px 30px 0px;
  }

  .anchor {
    position: relative;
    top: -140px;
  }

  .bottomSpace{
    padding-bottom: 200px;
  }

#show a:hover {
  color: #30536F;
  border-left: 2px #30536F solid;
}
