/* start page password */
.passwordChange {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.passwordChange p {
    font-size: 1.1em;
    text-align: center;
}
/* end page password */


/* start page profile */
.profilePseudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
/* end page profile */