.singleChapter, .addCommentContainer, .allComments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.singleChapter{
    border: 2px solid #30536F;
    max-width: 1100px;
    width: 80%;
    padding: 20px;
    background-color: #ecf1f5;
    text-align: center;
}

.singleChapter h2, .singleChapterDetails {
    color: #30536F;
}

.singleChapter h2:first-of-type {
    font-size: 3em;
}

.singleChapterDetails {
    font-weight: 700;
    text-align: center;
}

#chapterButton {
    background-color: #30536F;
    border-style: none;
    border-radius: 5px;    
    color: white;
    padding: 8px;
    margin: 20px;
}

#chapterButton i {
    padding-left: 10px;
}

#chapterButton:hover, #chapterButton:hover i{
    background-color: #DDC3AC;
    color:#30536F;
    cursor: pointer;
}
#singleChapterExtract {
    text-align: justify;
    padding: 15px;
}

.singleChapterContent {
    display: none;
    overflow: scroll;
    max-height: 70vh;
    text-align: justify;
    padding: 15px;
}

.addComment, .singleComment, .addCommentContainer, .allComments, .singleChapter {
    margin-top: 20px;
}

.addComment {
    background-color: #30536F;
    width: 80%;
    display: flex;
}

.singleComment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

.comment {
    width: 65%;
    background-color: #DDC3AC;
    border: 2px #30536f solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.flagCommentContainer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.flagComment{
    border: 2px solid #30536F;
    background-color: #ecf1f5;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
    border-radius: 10px;
}

.flagComment p {
    font-size: 1em;
    margin: 12px;
}

.actions a {
    padding: 5px;
    background-color: #DDC3AC;
    color: black;
    border: 2px solid #30536F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
    border-radius: 10px;
}

.actions a:hover, .flagComment:hover {
    background-color: #30536F;
    color: white;
}

.flagComment:hover a{
    color: white;
}