{% extends 'base.html.twig' %}

{% block title %} Author {% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>L'</li>
                </div>
                <div>
                    <li class="spaced">A</li>
                    <li class="ghost">u</li>
                    <li class="ghost">t</li>
                    <li class="ghost">e</li>
                    <li class="ghost">u</li>
                    <li class="ghost">r</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>   
            </ul> 
        </h1>           
    </div>

    <div class="subMenu">
        {% if session.get('pseudo') %}
            <div class="subMenuTab"> <a href="../public/index.php?route=logout">Déconnexion</a></div>
            <div class="subMenuTab"> <a href="../public/index.php?route=profile">Profil</a> </div>
            
            {% if session.get('role') == 'admin' %}
                <div class="subMenuTab"> <a href="../public/index.php?route=administration">Administration</a></div>
            {% endif %}

        {% else %}

            <div class="subMenuTab"> <a href="../public/index.php?route=register">S'inscrire</a> </div>
            <div class="subMenuTab"> <a href="../public/index.php?route=login">Se connecter</a> </div>

        {% endif %}
    </div>


    <div class="author">
        {% autoescape 'html' %} <p> {{author.content | raw}} </p> {% endautoescape %}
    </div>
{% endblock %} 
