{% extends 'base.html.twig' %}

{% block title %} Error_404 {% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/error.css"/>
{% endblock %}

{% block content %} 

    <div class="error">
        <h1>Oups! Une erreur à été détectée !</h1>
        <h2><a href="../public/index.php">  Accueil</a></h2>
    </div>

{% endblock %} 
