    <div class="formContainerComment" >
        <form method="post" action="../public/index.php?route=addComment&chapterId={{chapter.id}}">        
            <label for="content">Commentaire :</label><br>
            <textarea class="formTextarea" id="content" name="content"></textarea><br>
            <div class="formError"> {% autoescape 'html' %} {{errors.content | raw}} {% endautoescape %} </div>
            <input type="submit" value="Ajouter" id="submit" name="submit">            
        </form>
    </div>