{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>C</li>
                    <li class="ghost">o</li>
                    <li class="ghost">n</li>
                    <li class="ghost">n</li>
                    <li class="ghost">e</li>
                    <li class="ghost">x</li>
                    <li class="ghost">i</li>
                    <li class="ghost">o</li>
                    <li class="ghost">n</li> 
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>           
    </div>

    <div class="login">
        <div class="formContainer">
            <form method="post" action="../public/index.php?route=login">
                <label for="pseudo">Pseudo</label><br>
                <input type="text" id="pseudo" name="pseudo"><br>
                <label for="password">Mot de passe</label><br>
                <input type="password" id="password" name="password"><br>
                <div class = "formError"> {{session.show('error_login')}} </div>
                <input type="submit" value="Connexion" id="submit" name="submit">
            </form>
        </div>

        <div class="notMember">
            <a href="../public/index.php?route=register">Je n'ai pas de Compte <i class="fas fa-caret-right"></i></a>
        </div>
    </div>
    
{% endblock %} 