{% extends 'base.html.twig' %}

{% block title %} Modification auteur {% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <li>L'</li>
                <li class="spaced">A</li>
                <li class="ghost">u</li>
                <li class="ghost">t</li>
                <li class="ghost">e</li>
                <li class="ghost">u</li>
                <li class="ghost">r</li>
                <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
            </ul> 
        </h1>
    </div>

    <div class="routeAdministration">
        <a href="../public/index.php?route=administration">Retour à l'Administration -> </a>
    </div>

                                        {#<?php
                                            $content = isset($post) && $post->get('content') ? htmlspecialchars($post->get('content')) : '';
                                        ?>#}

    {% set content =  post.get('content') %}   

    <script>
        tinymce.init({
        selector: 'textarea',
        toolbar_mode: 'floating',
        });
    </script>

    <div class="formContainer">
        <form class="formAuthor" method="post" action="../public/index.php?route=modifyAuthor">
            <label for="content">Contenu</label><br>
            <textarea id="content" name="content">{{content}}</textarea><br>
            <input type="submit" value="modifier"  id="submit" name="submit">
        </form>
    </div>
{% endblock %} 