{% extends 'base.html.twig' %}

{% block title %} Modification {% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/form.css"/>
{% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>M</li>
                    <li class="ghost">o</li>
                    <li class="ghost">d</li>
                    <li class="ghost">i</li>
                    <li class="ghost">f</li>
                    <li class="ghost">i</li>
                    <li class="ghost">e</li>
                    <li class="ghost">r</li>
                </div>
                <div>
                    <li class="spaced">l</li>
                    <li class="ghost">e</li>
                </div>
                <div>
                    <li class="spaced">C</li>
                    <li class="ghost">h</li>
                    <li class="ghost">a</li>
                    <li class="ghost">p</li>
                    <li class="ghost">i</li>
                    <li class="ghost">t</li>
                    <li class="ghost">r</li>
                    <li class="ghost">e</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class="routeChapter">
        <a href="../public/index.php?route=chapter&chapterId={{post.get('id')}}">Revenir au chapitre<i class="fas fa-caret-right"></i> </a>
    </div>

    <div>
        {{include('form_chapter.html.twig')}}
    </div>

{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/cw4q64aokxm6bpoqnqo3ll1stp1bwm7285a3jsoyczyjp3dm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: 'textarea',
        toolbar_mode: 'floating',
        });
    </script>
{% endblock %}