{% extends 'base.html.twig' %}

{% block title %} Modification presentation {% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../public/css/form.css"/>
{% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>P</li>
                    <li class="ghost">r</li>
                    <li class="ghost">é</li>
                    <li class="ghost">s</li>
                    <li class="ghost">e</li>
                    <li class="ghost">n</li>
                    <li class="ghost">t</li>
                    <li class="ghost">a</li>
                    <li class="ghost">t</li>
                    <li class="ghost">i</li>
                    <li class="ghost">o</li>
                    <li class="ghost">n</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class="routeAdministration">
        <a href="../public/index.php?route=administration">Retour à l'Administration<i class="fas fa-caret-right"></i> </a>
    </div>

    {% set content =  post.get('content') %}   

    <script>
        tinymce.init({
        selector: 'textarea',
        toolbar_mode: 'floating',
        });
    </script>

    <div class="formContainer">
        <form class="formAuthor" method="post" action="../public/index.php?route=modifyPresentation">
            <label for="content">Contenu</label><br>
            <textarea id="content" name="content">{{content}}</textarea><br>
            <input type="submit" value="modifier"  id="submit" name="submit">
        </form>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/cw4q64aokxm6bpoqnqo3ll1stp1bwm7285a3jsoyczyjp3dm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: 'textarea',
        toolbar_mode: 'floating',
        });
    </script>
{% endblock %}