{% extends 'base.html.twig' %}

{% block title %} Ajout chapitre {% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>N</li>
                    <li class="ghost">o</li>
                    <li class="ghost">u</li>
                    <li class="ghost">v</li>
                    <li class="ghost">e</li>
                    <li class="ghost">a</li>
                    <li class="ghost">u</li>
                </div>
                <div>
                    <li class="spaced">C</li>
                    <li class="ghost">h</li>
                    <li class="ghost">a</li>
                    <li class="ghost">p</li>
                    <li class="ghost">i</li>
                    <li class="ghost">t</li>
                    <li class="ghost">r</li>
                    <li class="ghost">e</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class="routeAdministration">
        <a href="../public/index.php?route=administration">Retour à l'Administration<i class="fas fa-caret-right"></i> </a>
    </div>

    <div>
        {{include('form_chapter.html.twig')}}
    </div>

{% endblock %} 