{% extends 'base.html.twig' %}

{% block title %} Password {% endblock %}

{% block content %} 

    <div class="title">
        <h1>
            <ul class="text hidden">
                <div>
                    <li>M</li>
                    <li class="ghost">o</li>
                    <li class="ghost">t</li>
                </div>
                <div>
                    <li class="spaced">d</li>
                    <li class="ghost">e</li>
                </div>
                <div>
                    <li class="spaced">P</li>
                    <li class="ghost">a</li>
                    <li class="ghost">s</li>
                    <li class="ghost">s</li>
                    <li class="ghost">e</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class="passwordChange">
        <p>En poursuivant cette action, le mot de passe de {{ session.get('pseudo') }} sera modifié.</p>
    </div>

    <div class="password">
        <div class="formContainer">
            <form method="post" action="../public/index.php?route=updatePassword">
                <label for="password">Nouveau mot de passe :</label><br>
                <input type="password" id="password" name="password"><br>
                {% autoescape 'html' %} {{errors.password | raw}} {% endautoescape %}
                <input type="submit" value="Mettre à jour" id="submit" name="submit">
            </form>
        </div>

        <div class="routeProfile">
            <a href="../public/index.php?route=profile">Retourner au Profil</a>
        </div>
    </div>

{% endblock %} 
