{% extends 'base.html.twig' %}

{% block title %} Profile {% endblock %}

{% block content %} 

    <div class="title">
        <h1 >
            <ul class="text hidden">
                <div>
                    <li>M</li>
                    <li class="ghost">o</li>
                    <li class="ghost">n</li>
                </div>
                <div>
                    <li class="spaced">P</li>
                    <li class="ghost">r</li>
                    <li class="ghost">o</li>
                    <li class="ghost">f</li>
                    <li class="ghost">i</li>
                    <li class="ghost">l</li>
                    <li class="ghost"> <i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class= "profilePseudo">
        <h2> Mon pseudo : {{session.get('pseudo')}} </h2>
    </div>

    <div class="subMenu">
        <div class="subMenuTab"> <a href="../public/index.php?route=updatePassword">Modifier mon mot de passe</a> </div>
        
        {% if session.get('role') == 'admin' %}
            <div class="subMenuTab" id="textWhite">Suppression du compte impossible</div>
        {% else %}
            <div class="subMenuTab"> <a href="../public/index.php?route=deleteAccount">Supprimer mon compte</a> </div>
        {% endif %}
    </div>
{% endblock %} 

