{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block content %} 

    <div class="title">
        <h1 >
            <ul class="text hidden">
                <div>
                    <li>I</li>
                    <li class="ghost">n</li>
                    <li class="ghost">s</li>
                    <li class="ghost">c</li>
                    <li class="ghost">r</li>
                    <li class="ghost">i</li>
                    <li class="ghost">p</li>
                    <li class="ghost">t</li>
                    <li class="ghost">i</li>
                    <li class="ghost">o</li>
                    <li class="ghost">n</li>
                    <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                </div>
            </ul> 
        </h1>
    </div>

    <div class="register">
        <div class="formContainer">
            <form method="post" action="../public/index.php?route=register">
                <label for="pseudo">Pseudo :</label><br>
                <input type="text" id="pseudo" name="pseudo"><br>
                <div class= "formError"> {% autoescape 'html' %} {{errors.pseudo | raw}} {% endautoescape %} </div>
                <label for="password">Mot de passe :</label><br>
                <input type="password" id="password" name="password"><br>
                <div class= "formError"> {% autoescape 'html' %} {{errors.password | raw}} {% endautoescape %} </div>
                <input type="submit" value="Inscription" id="submit" name="submit">
            </form>
        </div>

        <div class="alreadyMember">
            <a href="../public/index.php?route=login">J'ai déjà un Compte <i class="fas fa-caret-right"></i></a>
        </div>
    </div>

{% endblock %} 
